// Imports **
@import "./BannerIcons/banner-icons";
@import "./Carousel/carousel";

// Estilos del módulo main

.container-content {
    width: 100%;
    .msg-welcome {
        width: 100%;
        color: $titles;
        padding: 0 62px;
        font-size: 1.2rem !important;
        text-align: center;
        margin: 27px 0;
    }
}