// Estilos para el contenedor del Cart

.container-cart {
    height: 100%;
    display: flex;
    justify-content: center;
}

// MEDIAQUERIES

// Desktop
@media (min-width: 426px) {
    .container-cart {
        width: 66%;
        .cart-desktop {
            height: 100%;
            width: 100%;
            background-color: $primary;
            border-radius: 4px;
            display: flex;
            cursor: pointer;
            justify-content: space-between;
            padding-right: 5px;
            &:hover {
                .icon-2 {
                    svg {
                        transform: rotate(0deg);
                        transition: 0.3s;
                    }
                }
            }
            .icon,
            h6,
            .icon-2 {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .icon,
            h6 {
                width: 40%;
            }
            .icon {
                position: relative;
                width: 27%;
                padding-top: 3px;
                svg {
                    height: auto;
                    width: 19px;
                    .st0 {
                        fill: $color-blanco;
                    }
                }
                span {
                    width: 14px;
                    height: 14px;
                    padding-right: 1px;
                    padding-bottom: 1px;
                    background-color: $secondary;
                    position: absolute;
                    top: 4px;
                    right: 0px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: $color-blanco;
                    font-size: 0.7rem;
                }
            }
            h6 {
                color: $color-blanco;
                font-size: 0.9rem;
                margin-right: 3px;
                width: 56%;
            }
            .icon-2 {
                width: 12%;
                svg {
                    height: auto;
                    width: 12px;
                    transform: rotate(180deg);
                }
            }
        }
        .cart-mobile {
            display: none;
        }
    }
}

// Mobile
@media (max-width: 425px) {
    .container-cart {
        width: 44%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 13px;
        .cart-desktop {
            display: none;
        }
        .cart-mobile {
            width: 24px;
            svg {
                height: 100%;
                width: 100%;
                .st0 {
                    fill: $primary;
                }
            }
            span {
                border: 1px solid white;
                position: absolute;
                top: 0;
                right: 0px;
                font-size: 0.6rem;
                background: $secondary;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }
    }
}
@media (max-width: 375px) {
    .container-cart {
        right: 13px;
    }
}
@media (max-width: 320px) {
    .container-cart {
        right: 6px;
    }
}
