// Imports**
@import "./CartBar/cart-bar";

// Estilos para el contenedor del Cart

.container-cart {
    height: 100%;
    display: flex;
    justify-content: center;
}

// MEDIAQUERIES

// Desktop
@media (min-width: 426px) {
    .container-cart {
        width: 26px;
        margin-left: 10px;
        .cart-desktop {
            width: 24px;
            position: relative;
            border: none;
            background: transparent;
            svg {
                height: 100%;
                width: 100%;
                .st0 {
                    fill: $primary;
                }
            }
            span {
                border: 1px solid white;
                position: absolute;
                top: 1px;
                right: -3px;
                font-size: 0.6rem;
                background: $secondary;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }
        .cart-mobile {
            display: none;
        }
    }
}

// Mobile
@media (max-width: 425px) {
    .container-cart {
        width: 44%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 4px;
        right: 10px;
        .cart-desktop {
            display: none;
        }
        .cart-mobile {
            width: 24px;
            svg {
                height: 100%;
                width: 100%;
                .st0 {
                    fill: $primary;
                }
            }
            span {
                border: 1px solid white;
                position: absolute;
                top: 0;
                right: 0px;
                font-size: 0.6rem;
                background: $secondary;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }
    }
}
@media (max-width: 375px) {
    .container-cart {
        right: 9px;
        top: 5px;
    }
}
@media (max-width: 320px) {
    .container-cart {
        right: 6px;
        top: 1px;
    }
}