// Estilos del módulo de carousel
.carousel {
  .carousel-control-prev,
  .carousel-control-next {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 50%;
      background-image: url("https://res.cloudinary.com/devsy44f3/image/upload/v1673804040/Icons/flecha_p4rfen.svg");
      background-size: 40px;
    }
    .carousel-control-prev-icon {
      transform: rotate(180deg);
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.079);
    }
  }
  .carousel-indicators {
    align-items: center;
    button {
      border-radius: 50%;
      height: 18px;
      width: 18px;
      background-color: $primary;
      border: none;
    }
    .active {
      border: 1px solid white;
    }
  }
}

.btn-link-carousel {
  width: 95%;
  background-color: $primary;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 5px;
  a {
    line-height: 20px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
      margin: 0 !important;
      display: flex;
      align-items: center;
    }
    svg {
      height: auto;
      width: 9%;
      .st0 {
        fill: white;
      }
    }
    &:hover {
      color: white;
    }
  }
}
// MEDIAQUERIES

// Mobile

@media (max-width: 426px) {
  .carousel-container-desktop {
    display: none;
  }
  .carousel-container-mobile {
    width: 100%;
    margin: 11px auto 3px auto;
    border-radius: 0px;
    overflow: hidden;
    position: relative;
    .carousel-inner {
      height: 100%;
      width: 100%;
      .carousel-item {
        height: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  .btn-link-carousel {
    bottom: -56px;
  }
}
@media (max-width: 376px) {
  .carousel {
    height: 100%;
  }
  .btn-link-carousel {
    bottom: -8px;
  }
}
@media (max-width: 320px) {
  .btn-link-carousel {
    bottom: 43px;
  }
}

// Desktop
@media (min-width: 426px) {
  .carousel-container-desktop {
    .carousel {
      width: 100%;
      margin: 5px auto;
      border-radius: 0px;
      overflow: hidden;
      .carousel-inner {
        height: 100%;
        width: 100%;
        .carousel-item {
          height: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .carousel-container-mobile {
    display: none;
  }
  .btn-link-carousel {
    width: 55%;
    left: 24%;
    a {
    }
  }
}
@media (min-width: 769px) {
  .carousel {
    height: 18rem;
  }
}

@media (min-width: 1024px) {
  .carousel {
    height: 20rem;
  }
}
@media (min-width: 1348px) {
  .carousel {
    height: 400px;
  }
}
