.carousel {
  .carousel-control-prev,
  .carousel-control-next {
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 50%;
      background-image: url("https://res.cloudinary.com/devsy44f3/image/upload/v1673804040/Icons/flecha_p4rfen.svg");
      background-size: 40px;
    }
    .carousel-control-prev-icon {
      transform: rotate(180deg);
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.079);
    }
  }
  .carousel-indicators {
    align-items: center;
    button {
      border-radius: 50%;
      height: 18px;
      width: 18px;
      background-color: $primary;
      border: none;
    }
    .active {
      border: 1px solid white;
    }
  }
}
@media (min-width: 320px) {
}
@media (min-width: 375px) {
  .carousel {
    height: 100%;
  }
}

// Mobile
@media (max-width: 425px) {
  .carousel-container-desktop {
    display: none;
  }
  .carousel-container-mobile {
    width: 100%;
    margin: 18px auto;
    border-radius: 0px;
    overflow: hidden;
    .carousel-inner {
      height: 100%;
      width: 100%;
      .carousel-item {
        height: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

// Desktop
@media (min-width: 426px) {
  .carousel-container-desktop {
    .carousel {
      width: 100%;
      margin: 5px auto;
      border-radius: 0px;
      overflow: hidden;
      .carousel-inner {
        height: 100%;
        width: 100%;
        .carousel-item {
          height: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
    
  }
  .carousel-container-mobile {
    display: none;
  }
}
@media (min-width: 769px) {
  .carousel {
    height: 18rem;
  }
}

@media (min-width: 1024px) {
  .carousel {
    height: 20rem;
  }
}
@media (min-width: 1348px) {
  .carousel {
    height: 400px;
  }
}
