// Estilos del módulo de logo
a {
    height: 100%;
    width: 21%;
    position: relative;
    .container-logo {
        position: absolute;
        left: 17px;
        top: -5px;
        height: 50px;
    }
}