// Estilos del módulo de logo
.container-logo {
    height: 100%;
    width: 100%;
    position: relative;
    a {
        position: absolute;
        left: 17px;
        top: -8px;
        width: 82%;
        img {
            width: 100%;
        }
    }
}
