.notifications {
    width: 166px;
    height: 35px;
    background-color: red;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 13px;
    left: 45%;
}