// Imports**
@import "../../scss/theme/colors.scss";
@import "./Logo/logo";
@import "./SearchBar/search.bar";
@import "./NewsBar/news-bar";
@import "./Menu/menu";
@import "./SocialBar/social-bar";
@import "./Tools/tools";
@import "./Cart/cart-container";

// Módulo del contenedor del header
header {
    width: 100%;
    .container-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container-social,
        .container-principal {
            width: 80%;
        }
        .container-social {
            height: 1.6rem;
            display: flex;
            justify-content: right;
        }
        .container-principal {
            height: 71px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
// MEDIAQUERIES
@media (min-width: 375px) {
}
@media (max-width: 425px) {
    header {
        .container-header {
            .container-social,
            .container-principal {
                width: 100%;
            }
            .container-principal {     
                .container-tools {
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
}
@media (min-width: 1348px) {
}
@media (min-width: 1366px) {
    header {
        .container-header {
            .container-principal {
                .container-logo {
                    a {
                        left: 56px;
                        top: -20px;
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) {
    header {
        .container-header {
            .container-principal {}
        }
    }
}