@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.container-logo {
  height: 2rem;
  position: relative; }
  .container-logo a {
    position: absolute;
    left: 17px;
    top: -8px;
    width: 82%; }
    .container-logo a img {
      width: 100%; }

@media (max-width: 1440px) {
  .container-logo {
    width: 162px; } }

@media (max-width: 1366px) {
  .container-logo {
    width: 162px; } }

@media (max-width: 1024px) {
  .container-logo {
    width: 162px; } }

@media (max-width: 768px) {
  .container-logo {
    width: 108px; }
    .container-logo a {
      position: absolute;
      left: -19px;
      top: -14px;
      width: 127px; } }

@media (max-width: 425px) {
  .container-logo {
    width: 31%;
    position: absolute;
    left: 35%; }
    .container-logo a {
      position: initial; } }

@media (max-width: 375px) {
  .container-logo {
    width: 36%;
    left: 33.4%; } }

@media (max-width: 320px) {
  .container-logo {
    width: 40%;
    left: 30.4%; } }

.container-search {
  width: 52%;
  height: 2rem;
  display: flex;
  justify-content: center; }

@media (min-width: 426px) {
  .container-search .search-mobile {
    display: none; }
  .container-search .search-desktop {
    height: 100%;
    width: 30rem;
    display: flex; }
    .container-search .search-desktop input,
    .container-search .search-desktop button {
      border-top: 1px solid #9E1460;
      border-bottom: 1px solid #9E1460;
      background-color: white; }
    .container-search .search-desktop input {
      width: 89%;
      outline: none;
      padding-left: 10px;
      border-left: 1px solid #9E1460;
      border-right: none;
      border-radius: 9px 0 0 9px;
      font-size: 1.1rem;
      color: #3F3844; }
    .container-search .search-desktop button {
      width: 11%;
      cursor: pointer;
      border-right: 1px solid #9E1460;
      border-left: none;
      border-radius: 0 9px 9px 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-search .search-desktop button svg {
        width: 44%;
        height: auto; }
        .container-search .search-desktop button svg .st0 {
          fill: #9E1460; } }

@media (max-width: 425px) {
  .container-search {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 16%; }
    .container-search .search-desktop {
      display: none; }
    .container-search .search-mobile {
      width: 100%;
      height: 100%; }
      .container-search .search-mobile button {
        border: none;
        background-color: transparent;
        width: 100%;
        height: 100%; }
        .container-search .search-mobile button svg {
          width: 65%;
          height: auto; }
          .container-search .search-mobile button svg .st0 {
            fill: #9E1460; } }

@media (max-width: 375px) {
  .container-search {
    left: 59px; } }

@media (max-width: 320px) {
  .container-search {
    left: 50px; } }

.container-news {
  height: 28px;
  display: flex;
  justify-content: center;
  background-color: #EB3699; }
  .container-news .news {
    height: 100%;
    width: 80%; }

@media (min-width: 426px) {
  .container-menu {
    height: 40px;
    width: 100%;
    background-color: #9E1460;
    display: flex;
    justify-content: center; }
    .container-menu .menu-desktop {
      width: 54rem;
      height: 100%;
      display: flex;
      justify-content: space-between; }
      .container-menu .menu-desktop a {
        width: 10rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none; }
        .container-menu .menu-desktop a h2 {
          color: white;
          margin: 0 !important; }
    .container-menu .btn-menu-mobile {
      display: none; } }

@media (max-width: 768px) {
  .container-menu .menu-desktop {
    width: 84%; }
    .container-menu .menu-desktop a h2 {
      font-size: 0.9rem !important; }
    .container-menu .menu-desktop a:active {
      background-color: #ffffff21; } }

@media (min-width: 1024px) {
  .container-menu .menu-desktop a:hover {
    background-color: #ffffff21; } }

@media (min-width: 426px) {
  .container-menu .PrivateSwipeArea-root {
    display: none; } }

@media (max-width: 425px) {
  .menu-container {
    width: 18rem;
    height: 100%;
    background-color: #9E1460;
    position: relative; }
    .menu-container .menu-primary {
      width: 90%;
      margin-top: 53px; }
      .menu-container .menu-primary li {
        width: 100%;
        height: 2rem;
        display: flex;
        align-items: center;
        list-style: none; }
        .menu-container .menu-primary li a {
          color: white;
          text-decoration: none; }
        .menu-container .menu-primary li:first-child {
          margin-bottom: 10px;
          height: 40px;
          display: flex;
          justify-content: flex-start; }
          .menu-container .menu-primary li:first-child a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #EB3699;
            border-radius: 4px; }
            .menu-container .menu-primary li:first-child a h2 {
              height: 100%;
              text-align: center;
              margin: 0;
              margin-left: 4px;
              display: flex;
              align-items: center; }
    .menu-container .menu-secondary {
      position: absolute;
      bottom: 36px;
      left: 5%;
      width: 90%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 0;
      margin: 0;
      align-items: center;
      border-top: 1px solid rgba(255, 255, 255, 0.384); }
      .menu-container .menu-secondary li {
        margin: 0;
        width: 100%;
        height: 40px;
        list-style: none; }
        .menu-container .menu-secondary li a {
          width: 100%;
          height: 100%;
          display: flex;
          text-decoration: none; }
          .menu-container .menu-secondary li a svg,
          .menu-container .menu-secondary li a h2 {
            height: 100%;
            color: white; }
          .menu-container .menu-secondary li a svg {
            width: 9%;
            margin: 0 9px; }
          .menu-container .menu-secondary li a h2 {
            display: flex;
            align-items: center;
            font-weight: 300; }
        .menu-container .menu-secondary li:first-child {
          margin-top: 10px; }
    .menu-container .btn-menu-close {
      width: 26px;
      height: 26px;
      position: absolute;
      right: 6px;
      top: 6px;
      border-radius: 50%;
      border: none;
      background-color: white;
      color: #9E1460; }
  .container-menu {
    position: absolute;
    background-color: transparent;
    width: 28px;
    height: 20px;
    top: 82px;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container-menu .menu-desktop {
      display: none; }
    .container-menu button {
      background-color: transparent;
      border: none; }
      .container-menu button svg .st0 {
        fill: #9E1460; } }

@media (max-width: 375px) {
  .container-menu {
    left: 25px; } }

@media (max-width: 320px) {
  .container-menu {
    left: 19px; } }

.container-social {
  height: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 3px; }
  .container-social .social {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container-social .social .label {
      border-right: 1px solid #3f3844;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #3f3844; }
    .container-social .social .icon {
      height: 100%;
      margin-left: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .container-social .social .icon svg {
        height: auto;
        width: 20px; }
        .container-social .social .icon svg .st0 {
          fill: #3f3844; }

@media (max-width: 1440px) {
  .social {
    width: 18%;
    margin-right: 39px; }
    .social .label {
      width: 47%; }
    .social .icon {
      width: 17px; } }

@media (max-width: 1366px) {
  .social {
    width: 18%;
    margin-right: 39px; }
    .social .label {
      width: 47%; }
    .social .icon {
      width: 17px; } }

@media (max-width: 1024px) {
  .social {
    width: 24%;
    margin-right: 22px; }
    .social .label {
      width: 47%; }
    .social .icon {
      width: 17px; } }

@media (max-width: 768px) {
  .social {
    width: 32%;
    margin-right: 25px; }
    .social .label {
      width: 45%; }
    .social .icon {
      width: 16px; } }

@media (max-width: 425px) {
  .container-social .social {
    width: 38%;
    margin-right: 12px; }
    .container-social .social .label {
      font-size: 14px;
      width: 48%; }
    .container-social .social .icon {
      width: 15px; } }

@media (max-width: 375px) {
  .container-social .social {
    width: 44%; } }

@media (max-width: 320px) {
  .container-social .social {
    width: 47%; } }

.container-tools {
  display: flex;
  justify-content: space-between;
  margin-right: 11px;
  height: 2.3rem; }

.track {
  height: 100%; }

@media (min-width: 426px) {
  .container-tools .track,
  .container-tools .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; }
    .container-tools .track a,
    .container-tools .profile a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      width: 27px; }
      .container-tools .track a svg,
      .container-tools .profile a svg {
        width: 100%;
        height: 100%; }
        .container-tools .track a svg .st0,
        .container-tools .profile a svg .st0 {
          fill: #9E1460; }
    .container-tools .track .profile,
    .container-tools .profile .profile {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .container-tools .track {
    width: 19px; }
  .container-tools .profile {
    position: relative;
    width: 26px; } }

@media (max-width: 425px) {
  .container-tools {
    width: 20%; }
    .container-tools .track {
      display: none; }
    .container-tools .profile {
      right: 60px;
      width: 32%;
      position: absolute;
      top: 8px; }
      .container-tools .profile a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%; }
        .container-tools .profile a svg {
          width: 100%;
          height: 100%; }
          .container-tools .profile a svg .st0 {
            fill: #9E1460; } }

@media (max-width: 375px) {
  .container-tools .profile {
    right: 47px;
    width: 36%;
    top: 9px; } }

@media (max-width: 320px) {
  .container-tools .profile {
    right: 40px;
    top: 7px;
    width: 39%; } }

.cart-container {
  height: 100%;
  background-color: #9E1460;
  position: relative; }
  .cart-container .btn-close-cart {
    width: 26px;
    height: 26px;
    position: absolute;
    left: 6px;
    top: 6px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: #9E1460; }
  .cart-container h2 {
    width: 100%;
    height: 2rem;
    margin: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem !important; }
  .cart-container .cart-list {
    width: 90%;
    height: 57%;
    margin: 10px auto 0 auto;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.533);
    overflow-y: scroll; }
    .cart-container .cart-list h3 {
      width: 100%;
      height: 20px;
      color: white;
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      padding-left: 5px; }
    .cart-container .cart-list .empty-cart {
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column; }
      .cart-container .cart-list .empty-cart h6 {
        color: white;
        font-size: 1.3rem; }
      .cart-container .cart-list .empty-cart svg {
        height: auto;
        width: 60px;
        color: white; }
    .cart-container .cart-list .item {
      width: 100%;
      height: 90px;
      list-style: none;
      margin-bottom: 5px;
      border: 1px solid white;
      background-color: white;
      display: flex;
      position: relative;
      border-radius: 4px; }
      .cart-container .cart-list .item .img,
      .cart-container .cart-list .item .item-detail {
        height: 100%; }
      .cart-container .cart-list .item .img {
        width: 30%;
        background-color: blue; }
      .cart-container .cart-list .item .item-detail {
        width: 70%; }
        .cart-container .cart-list .item .item-detail h4 {
          width: 100%;
          height: 23px;
          font-size: 0.8rem;
          padding-left: 4px;
          display: flex;
          align-items: center; }
      .cart-container .cart-list .item .btn-delete-cartitem {
        width: 22px;
        height: 22px;
        position: absolute;
        right: 2px;
        top: 2px;
        background-color: red;
        display: flex;
        background-color: #9E1460;
        border: none;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white; }
        .cart-container .cart-list .item .btn-delete-cartitem svg {
          width: 80%;
          height: auto; }
  .cart-container .active-cart {
    display: flex;
    justify-content: center;
    align-items: center; }
  .cart-container .cart-details {
    width: 90%;
    margin: 10px auto 0 auto;
    padding: 0; }
    .cart-container .cart-details li {
      list-style: none;
      width: 87%; }
    .cart-container .cart-details .empty-cart-btn {
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between; }
      .cart-container .cart-details .empty-cart-btn button {
        width: 100%;
        height: 46%;
        border: none;
        background-color: white;
        color: #9E1460;
        font-weight: bold;
        border-radius: 4px;
        border-bottom: 5px; }
  .cart-container .active-cart-details {
    display: flex;
    justify-content: center;
    align-items: center; }
  .cart-container .non-active-cart-details li {
    height: 33%;
    width: 100%; }
    .cart-container .non-active-cart-details li h4 {
      margin: 0; }
  .cart-container .non-active-cart-details .subtotal-container {
    height: 26px;
    width: 100%;
    margin-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .cart-container .non-active-cart-details .subtotal-container h4 {
      font-size: 0.9rem;
      color: white; }
  .cart-container .non-active-cart-details .btn-list-cart {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 4px; }
    .cart-container .non-active-cart-details .btn-list-cart button {
      width: 49%;
      height: 100%;
      border: none;
      background-color: #9E1460;
      border: 1px solid white;
      border-radius: 4px;
      color: white;
      font-size: 1rem;
      line-height: 20px;
      font-weight: 400; }
  .cart-container .non-active-cart-details .btn-finish {
    width: 100%;
    height: 46px; }
    .cart-container .non-active-cart-details .btn-finish button {
      height: 100%;
      width: 100%;
      border: none;
      background-color: #9E1460;
      border: 1px solid white;
      color: white;
      font-size: 1.1rem;
      border-radius: 4px; }

@media (min-width: 426px) {
  .cart-container {
    width: 22rem; } }

@media (max-width: 425px) {
  .cart-container {
    width: 17rem; } }

.container-cart {
  height: 100%;
  display: flex;
  justify-content: center; }

@media (min-width: 426px) {
  .container-cart {
    width: 26px;
    margin-left: 10px; }
    .container-cart .cart-desktop {
      width: 24px;
      position: relative;
      border: none;
      background: transparent; }
      .container-cart .cart-desktop svg {
        height: 100%;
        width: 100%; }
        .container-cart .cart-desktop svg .st0 {
          fill: #9E1460; }
      .container-cart .cart-desktop span {
        border: 1px solid white;
        position: absolute;
        top: 1px;
        right: -3px;
        font-size: 0.6rem;
        background: #EB3699;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; }
    .container-cart .cart-mobile {
      display: none; } }

@media (max-width: 425px) {
  .container-cart {
    width: 44%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    right: 10px; }
    .container-cart .cart-desktop {
      display: none; }
    .container-cart .cart-mobile {
      width: 24px; }
      .container-cart .cart-mobile svg {
        height: 100%;
        width: 100%; }
        .container-cart .cart-mobile svg .st0 {
          fill: #9E1460; }
      .container-cart .cart-mobile span {
        border: 1px solid white;
        position: absolute;
        top: 0;
        right: 0px;
        font-size: 0.6rem;
        background: #EB3699;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; } }

@media (max-width: 375px) {
  .container-cart {
    right: 9px;
    top: 5px; } }

@media (max-width: 320px) {
  .container-cart {
    right: 6px;
    top: 1px; } }

header {
  width: 100%; }
  header .container-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    header .container-header .container-social,
    header .container-header .container-principal {
      width: 80%; }
    header .container-header .container-social {
      height: 1.6rem;
      display: flex;
      justify-content: right; }
    header .container-header .container-principal {
      height: 71px;
      display: flex;
      justify-content: space-between;
      align-items: center; }

@media (max-width: 425px) {
  header .container-header .container-social,
  header .container-header .container-principal {
    width: 100%; }
  header .container-header .container-principal .container-tools {
    position: absolute;
    right: 0; } }

@media (min-width: 1366px) {
  header .container-header .container-principal .container-logo a {
    left: 56px;
    top: -20px; } }

html {
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

h2 {
  font-size: 16px !important; }

.banner-icons {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center; }
  .banner-icons ul {
    width: 64%;
    height: 100%;
    display: flex;
    justify-content: space-between; }
    .banner-icons ul li {
      list-style: none;
      display: flex;
      flex-direction: row;
      width: 30%; }
      .banner-icons ul li span,
      .banner-icons ul li div {
        height: 100%;
        display: flex;
        align-items: center; }
      .banner-icons ul li span {
        width: 22%;
        justify-content: center; }
        .banner-icons ul li span svg {
          height: auto;
          width: 49%; }
          .banner-icons ul li span svg .st0 {
            fill: #9E1460; }
      .banner-icons ul li div {
        width: 78%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        .banner-icons ul li div h3 {
          color: #3f3844;
          height: 35%;
          margin: 0; }
          .banner-icons ul li div h3:first-child {
            font-size: 0.9rem;
            font-weight: bold;
            margin-top: 9px; }
          .banner-icons ul li div h3:last-child {
            font-size: 0.8rem;
            font-weight: 400; }

@media (max-width: 768px) {
  .banner-icons ul {
    width: 87%; }
    .banner-icons ul li {
      width: 34%; } }

@media (max-width: 425px) {
  .banner-icons {
    height: 64px;
    margin-top: 10px; }
    .banner-icons ul {
      width: 90%;
      padding: 0;
      margin: 0; }
      .banner-icons ul li {
        flex-direction: column; }
        .banner-icons ul li span {
          height: 43%;
          width: 100%; }
          .banner-icons ul li span svg {
            width: 20%; }
        .banner-icons ul li div {
          width: 100%;
          height: 38%;
          margin-top: 9px; }
          .banner-icons ul li div h3 {
            height: 100%;
            width: 100%;
            text-align: center; }
            .banner-icons ul li div h3:first-child {
              font-size: 0.7rem;
              margin: 0; }
            .banner-icons ul li div h3:last-child {
              display: none; } }

@media (max-width: 375px) {
  .banner-icons ul li span svg {
    width: 24%; } }

@media (max-width: 320px) {
  .banner-icons ul li span svg {
    width: 27%; } }

.carousel .carousel-control-prev .carousel-control-prev-icon,
.carousel .carousel-control-prev .carousel-control-next-icon,
.carousel .carousel-control-next .carousel-control-prev-icon,
.carousel .carousel-control-next .carousel-control-next-icon {
  height: 50%;
  background-image: url("https://res.cloudinary.com/devsy44f3/image/upload/v1673804040/Icons/flecha_p4rfen.svg");
  background-size: 40px; }

.carousel .carousel-control-prev .carousel-control-prev-icon,
.carousel .carousel-control-next .carousel-control-prev-icon {
  transform: rotate(180deg); }

.carousel .carousel-control-prev:hover,
.carousel .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.079); }

.carousel .carousel-indicators {
  align-items: center; }
  .carousel .carousel-indicators button {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: #9E1460;
    border: none; }
  .carousel .carousel-indicators .active {
    border: 1px solid white; }

@media (min-width: 375px) {
  .carousel {
    height: 100%; } }

@media (max-width: 425px) {
  .carousel-container-desktop {
    display: none; }
  .carousel-container-mobile {
    width: 100%;
    margin: 18px auto;
    border-radius: 0px;
    overflow: hidden; }
    .carousel-container-mobile .carousel-inner {
      height: 100%;
      width: 100%; }
      .carousel-container-mobile .carousel-inner .carousel-item {
        height: 100%; }
        .carousel-container-mobile .carousel-inner .carousel-item img {
          width: 100%; } }

@media (min-width: 426px) {
  .carousel-container-desktop .carousel {
    width: 100%;
    margin: 5px auto;
    border-radius: 0px;
    overflow: hidden; }
    .carousel-container-desktop .carousel .carousel-inner {
      height: 100%;
      width: 100%; }
      .carousel-container-desktop .carousel .carousel-inner .carousel-item {
        height: 100%; }
        .carousel-container-desktop .carousel .carousel-inner .carousel-item img {
          width: 100%; }
  .carousel-container-mobile {
    display: none; } }

@media (min-width: 769px) {
  .carousel {
    height: 18rem; } }

@media (min-width: 1024px) {
  .carousel {
    height: 20rem; } }

@media (min-width: 1348px) {
  .carousel {
    height: 400px; } }

.container-content {
  width: 100%; }
  .container-content .msg-welcome {
    width: 100%;
    color: #660D6E;
    padding: 0 62px;
    font-size: 1.2rem !important;
    text-align: center;
    margin: 27px 0; }

main .container-detail {
  width: 76%;
  height: 34rem;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  main .container-detail .detail,
  main .container-detail .container-comments {
    width: 90%;
    height: 72vh;
    display: flex; }
  main .container-detail .detail {
    margin-top: 29px; }
    main .container-detail .detail .photo,
    main .container-detail .detail .info {
      height: 100%;
      width: 50%; }
    main .container-detail .detail .photo {
      border-right: 1px solid #f89922; }
      main .container-detail .detail .photo img {
        width: 100%; }
    main .container-detail .detail .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      main .container-detail .detail .info .rows {
        width: 88%;
        height: 13%;
        font-family: 'Roboto', sans-serif;
        color: #3f3844; }
      main .container-detail .detail .info .r1 {
        font-size: 1.6rem;
        height: 10%;
        font-weight: bold;
        margin: 9px 0px; }
      main .container-detail .detail .info .r2 {
        font-size: 1.3rem;
        height: 9%;
        display: flex;
        flex-direction: column; }
        main .container-detail .detail .info .r2 h6 {
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center; }
      main .container-detail .detail .info .r3 {
        height: 8%;
        display: flex; }
        main .container-detail .detail .info .r3 .container-star {
          width: 38%; }
        main .container-detail .detail .info .r3 .rate {
          width: 20%;
          font-family: 'Roboto', sans-serif;
          display: flex;
          align-items: center;
          font-weight: bold; }
      main .container-detail .detail .info .r4 {
        display: flex; }
        main .container-detail .detail .info .r4 h6 {
          height: 100%;
          width: 35%;
          display: flex;
          align-items: center;
          color: #232025; }
        main .container-detail .detail .info .r4 .price {
          font-size: 2rem; }
        main .container-detail .detail .info .r4 .label {
          font-size: 1.2rem; }
      main .container-detail .detail .info .r5 {
        height: 24%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        main .container-detail .detail .info .r5 h5,
        main .container-detail .detail .info .r5 h6,
        main .container-detail .detail .info .r5 .container-button {
          display: flex;
          align-items: center; }
        main .container-detail .detail .info .r5 h5,
        main .container-detail .detail .info .r5 h6 {
          height: 25%; }
        main .container-detail .detail .info .r5 .container-button {
          height: 50%;
          padding-left: 18px; }
          main .container-detail .detail .info .r5 .container-button button {
            width: 56px;
            height: 44px;
            border: none;
            background-color: #1173a3;
            font-family: 'Roboto', sans-serif;
            color: white;
            border-radius: 4px;
            cursor: pointer; }
      main .container-detail .detail .info .r6 {
        height: 7%;
        display: flex; }
        main .container-detail .detail .info .r6 .label {
          width: 72%;
          display: flex;
          align-items: center; }
        main .container-detail .detail .info .r6 button {
          width: 64px;
          border: none;
          border-radius: 4px;
          color: white;
          background-color: #1173a3;
          font-family: 'Roboto', sans-serif;
          cursor: pointer; }
      main .container-detail .detail .info .r7 {
        display: flex;
        justify-content: center;
        margin-top: 29px; }
        main .container-detail .detail .info .r7 .ItemCount,
        main .container-detail .detail .info .r7 .add-cart {
          height: 100%;
          border-radius: 7px; }
        main .container-detail .detail .info .r7 .ItemCount {
          width: 22%;
          margin-right: 10px;
          background-color: white;
          display: flex;
          justify-content: space-between; }
          main .container-detail .detail .info .r7 .ItemCount button {
            width: 46%;
            border: none;
            cursor: pointer;
            border-radius: 7px 0 0 7px;
            color: white;
            font-size: 23px; }
          main .container-detail .detail .info .r7 .ItemCount .btnless {
            background-color: #f89922; }
          main .container-detail .detail .info .r7 .ItemCount h6 {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            color: #3f3844; }
          main .container-detail .detail .info .r7 .ItemCount .btnplus {
            border-radius: 0 7px 7px 0;
            background-color: #f89922; }
        main .container-detail .detail .info .r7 .add-cart {
          height: 100%;
          width: 66%; }
          main .container-detail .detail .info .r7 .add-cart button {
            width: 100%;
            height: 100%;
            border: none;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            background-color: #f89922;
            border-radius: 7px;
            cursor: pointer; }
  main .container-detail .container-comments {
    padding-top: 47px;
    height: 36vh; }
    main .container-detail .container-comments .comments,
    main .container-detail .container-comments .info-product {
      width: 50%;
      height: 100%; }
    main .container-detail .container-comments .comments span,
    main .container-detail .container-comments .comments h6 {
      display: flex;
      align-items: center; }
    main .container-detail .container-comments .comments span {
      height: 100%;
      width: 20px;
      justify-content: center;
      margin-right: 6px; }
      main .container-detail .container-comments .comments span svg {
        width: 100%; }
        main .container-detail .container-comments .comments span svg .st0 {
          fill: #3f3844; }
    main .container-detail .container-comments .comments h6 {
      height: 2rem;
      font-family: 'Roboto', sans-serif;
      padding-left: 26px;
      font-size: 1rem;
      color: #3f3844; }
    main .container-detail .container-comments .comments .comments-body {
      width: 90%;
      height: 78%;
      border-top: 1px solid #1173a3; }
    main .container-detail .container-comments .info-product span,
    main .container-detail .container-comments .info-product h6 {
      display: flex;
      align-items: center; }
    main .container-detail .container-comments .info-product span {
      height: 100%;
      width: 20px;
      justify-content: center;
      margin-right: 6px; }
      main .container-detail .container-comments .info-product span svg {
        width: 100%; }
        main .container-detail .container-comments .info-product span svg .st0 {
          fill: #3f3844; }
    main .container-detail .container-comments .info-product h6 {
      height: 2rem;
      font-family: 'Roboto', sans-serif;
      padding-left: 26px;
      font-size: 1rem;
      color: #3f3844;
      font-weight: bold; }
    main .container-detail .container-comments .info-product .info {
      width: 27rem;
      height: 78%;
      padding: 10px; }
      main .container-detail .container-comments .info-product .info .info-title {
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: space-between; }
        main .container-detail .container-comments .info-product .info .info-title .title {
          width: 32%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Roboto', sans-serif;
          border: 1px solid transparent;
          color: #1173a3;
          cursor: pointer; }
          main .container-detail .container-comments .info-product .info .info-title .title:hover {
            border-top: 1px solid #1173a3;
            border-left: 1px solid #1173a3;
            border-right: 1px solid #1173a3;
            border-radius: 4px 4px 0 0;
            color: #0d5c83;
            background-color: #f898222f; }
      main .container-detail .container-comments .info-product .info .container-info {
        width: 100%;
        height: 80%;
        border-top: 1px solid #1173a3;
        font-family: 'Roboto', sans-serif;
        color: #3f3844;
        padding: 10px; }

#loading,
#loading-check {
  position: absolute;
  left: 0;
  bottom: 42%;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  color: #f89922; }

#loading {
  left: 45.8%; }

#loading-check {
  width: 100%;
  height: 24rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

#container-category {
  width: 76%;
  height: 100%;
  min-height: 21rem;
  display: flex;
  flex-direction: column; }
  #container-category .title {
    width: 60%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: #3f3844; }
  #container-category .container-items {
    max-width: 80%;
    min-width: 80%;
    margin: 10px auto 20px auto;
    display: flex;
    flex-direction: row; }

.form-footer form ul {
  padding: 0; }
  .form-footer form ul .terms {
    border: none;
    width: 100%;
    margin: 0 auto;
    position: relative; }
    .form-footer form ul .terms input[type="checkbox"] {
      position: absolute;
      width: 16px;
      top: 0;
      left: 0;
      height: auto; }
    .form-footer form ul .terms h3 {
      font-size: 0.7rem;
      color: white;
      margin: 0;
      margin-left: 21px;
      width: 91%; }
      .form-footer form ul .terms h3 a {
        font-size: 0.7rem;
        color: white;
        margin-left: 4px; }
  .form-footer form ul li {
    list-style: none;
    display: flex;
    border: none;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin-bottom: 13px; }
    .form-footer form ul li:first-child, .form-footer form ul li:last-child {
      border: none;
      margin: 0; }
    .form-footer form ul li:last-child {
      margin-top: 10px; }
    .form-footer form ul li h2 {
      text-align: center; }
    .form-footer form ul li h2,
    .form-footer form ul li label,
    .form-footer form ul li input {
      color: white; }
    .form-footer form ul li label,
    .form-footer form ul li input {
      height: 100%; }
    .form-footer form ul li label {
      font-size: 0.85rem; }
    .form-footer form ul li input {
      width: 76%;
      background-color: transparent;
      border: none;
      outline: none; }
    .form-footer form ul li input[type="submit"] {
      background-color: white;
      margin: 5px auto;
      height: 35px;
      color: #9E1460;
      font-weight: 600; }

@media (max-width: 425px) {
  .form-footer {
    width: 78%;
    margin: 0 auto; }
    .form-footer form ul li h2 {
      font-size: 1.05rem !important; } }

.menu-footer {
  width: 80%;
  margin: 0 auto; }
  .menu-footer h2 {
    font-size: 1.05rem;
    color: white;
    font-weight: 500; }
  .menu-footer ul {
    padding: 0 23px;
    margin-top: 18px; }
    .menu-footer ul li {
      list-style: none; }
      .menu-footer ul li a {
        text-decoration: none; }
        .menu-footer ul li a h3 {
          color: white;
          font-size: 0.9rem;
          font-weight: 400; }

.footer {
  width: 100%;
  background-color: #9E1460;
  padding: 24px 0; }
  .footer .logo-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column; }
    .footer .logo-footer img {
      width: 44%; }
    .footer .logo-footer h3 {
      width: 44%;
      color: white;
      font-size: 0.9rem;
      text-align: center;
      margin-top: 5px;
      font-weight: lighter; }

.cart {
  position: relative; }

.cart-hide {
  display: none; }

.cart-show {
  display: flex; }

#cart-style {
  width: 320px;
  height: 13rem;
  background-color: #f2f3f4;
  position: absolute;
  transform: translate(-190px, 39px);
  z-index: 1000;
  border-radius: 7px 0 7px 7px;
  display: flex;
  flex-direction: column;
  border: 1px solid #1173a3;
  cursor: default; }
  #cart-style .container-products {
    height: 75%;
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden; }
    #cart-style .container-products::-webkit-scrollbar {
      width: 10px; }
    #cart-style .container-products::-webkit-scrollbar-track {
      background-color: white; }
    #cart-style .container-products::-webkit-scrollbar-thumb {
      background-color: #f89922;
      border-radius: 2px; }
    #cart-style .container-products .products {
      width: 97%; }
      #cart-style .container-products .products .item-cart {
        width: 100%;
        height: 98px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        border: 1px solid #f89922;
        position: relative;
        background-color: white; }
        #cart-style .container-products .products .item-cart .description,
        #cart-style .container-products .products .item-cart .close {
          font-family: 'Roboto', sans-serif; }
        #cart-style .container-products .products .item-cart .image {
          width: 28%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          #cart-style .container-products .products .item-cart .image img {
            width: 100%; }
        #cart-style .container-products .products .item-cart .description {
          height: 88%;
          width: 72%;
          color: #3f3844; }
          #cart-style .container-products .products .item-cart .description div {
            height: 33%;
            padding-left: 8px; }
          #cart-style .container-products .products .item-cart .description .name {
            height: 41px;
            font-weight: bold; }
          #cart-style .container-products .products .item-cart .description .descript {
            height: 20px; }
          #cart-style .container-products .products .item-cart .description .price {
            font-weight: bold;
            font-size: 1.2rem; }
        #cart-style .container-products .products .item-cart .close {
          width: 17px;
          height: 17px;
          position: absolute;
          top: 2px;
          right: 2px;
          border-radius: 50%;
          background-color: #f89922;
          border: none;
          color: white;
          cursor: pointer; }
        #cart-style .container-products .products .item-cart .item-count {
          position: absolute;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          background-color: rgba(255, 0, 0, 0.685);
          top: 5px;
          left: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Roboto', sans-serif;
          color: white;
          font-size: 0.8rem; }
  #cart-style .container-button {
    width: 100%;
    height: 3rem;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #cart-style .container-button a {
      width: 71%;
      height: 70%; }
    #cart-style .container-button button {
      height: 100%;
      width: 100%;
      border: none;
      border-radius: 7px;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      background-color: #f89922;
      color: white;
      cursor: pointer; }
    #cart-style .container-button .delete-all {
      height: 71%;
      width: 12%;
      margin-left: 5px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #cart-style .container-button .delete-all svg {
        width: 17px; }
        #cart-style .container-button .delete-all svg .st0 {
          fill: white; }

#container-cart h6 {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  color: #1173a3;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  padding: 13px 0;
  text-align: center; }
  #container-cart h6 span {
    margin-right: 11px; }
    #container-cart h6 span svg .st0 {
      fill: #1173a3; }

#container-cart .cart {
  width: 94%;
  height: 100%;
  display: flex;
  margin: 0 auto; }
  #container-cart .cart .cart-list {
    width: 70%;
    height: 19rem;
    padding: 15px 0;
    display: flex;
    justify-content: center; }
    #container-cart .cart .cart-list .list {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden; }
      #container-cart .cart .cart-list .list::-webkit-scrollbar {
        width: 10px; }
      #container-cart .cart .cart-list .list::-webkit-scrollbar-track {
        background-color: white; }
      #container-cart .cart .cart-list .list::-webkit-scrollbar-thumb {
        background-color: #f89922;
        border-radius: 2px; }
      #container-cart .cart .cart-list .list .cart-item {
        width: 95%;
        height: 7rem;
        margin: 0 auto 13px auto;
        display: flex;
        align-items: center;
        border-radius: 7px;
        border: 1px solid #f89922;
        position: relative;
        background-color: white; }
        #container-cart .cart .cart-list .list .cart-item .image,
        #container-cart .cart .cart-list .list .cart-item .container-descript {
          height: 100%; }
        #container-cart .cart .cart-list .list .cart-item .image {
          width: 18%;
          display: flex;
          justify-content: center;
          align-items: center; }
          #container-cart .cart .cart-list .list .cart-item .image img {
            height: 95%; }
        #container-cart .cart .cart-list .list .cart-item .container-descript {
          width: 50%;
          height: 80%; }
          #container-cart .cart .cart-list .list .cart-item .container-descript .name,
          #container-cart .cart .cart-list .list .cart-item .container-descript .descript {
            padding: 0 20px;
            display: flex;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            color: #3f3844; }
          #container-cart .cart .cart-list .list .cart-item .container-descript .name {
            height: 25%;
            font-weight: bold; }
          #container-cart .cart .cart-list .list .cart-item .container-descript .descript {
            height: 75%; }
        #container-cart .cart .cart-list .list .cart-item .price {
          width: 32%;
          display: flex; }
          #container-cart .cart .cart-list .list .cart-item .price .ItemCount {
            width: 4.4rem;
            display: flex;
            margin-left: 13px;
            background-color: #f89922;
            border-radius: 7px;
            border: 1px solid #f89922; }
            #container-cart .cart .cart-list .list .cart-item .price .ItemCount button,
            #container-cart .cart .cart-list .list .cart-item .price .ItemCount h6 {
              height: 100%;
              padding: 0;
              margin: 0;
              display: flex;
              align-items: center;
              justify-content: center; }
            #container-cart .cart .cart-list .list .cart-item .price .ItemCount button {
              width: 50%;
              height: 100%;
              border: none;
              color: white;
              background-color: transparent;
              cursor: pointer; }
            #container-cart .cart .cart-list .list .cart-item .price .ItemCount h6 {
              width: 80%;
              background-color: white; }
          #container-cart .cart .cart-list .list .cart-item .price h6 {
            width: 49%;
            margin-left: 13px; }
          #container-cart .cart .cart-list .list .cart-item .price .add-cart {
            display: none; }
        #container-cart .cart .cart-list .list .cart-item .close {
          width: 17px;
          height: 17px;
          background-color: #f89922;
          position: absolute;
          top: 4px;
          right: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          font-family: 'Roboto', sans-serif;
          border-radius: 50%;
          cursor: pointer;
          color: white;
          font-size: 13px;
          padding-left: 1px; }
  #container-cart .cart .cart-checkout {
    width: 30%;
    margin-left: 12px; }
    #container-cart .cart .cart-checkout h6 {
      height: 17%;
      font-size: 1.3rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #3f3844; }
    #container-cart .cart .cart-checkout .options {
      width: 100%;
      height: 14rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #container-cart .cart .cart-checkout .options a,
      #container-cart .cart .cart-checkout .options button {
        height: 43px;
        width: 100%;
        margin-top: 5px; }
      #container-cart .cart .cart-checkout .options button {
        border: none;
        background-color: #f89922;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        margin-top: 0; }

#checkout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  #checkout #empty-message {
    height: 23rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    #checkout #empty-message .buttons {
      width: 12rem;
      height: 3rem; }
      #checkout #empty-message .buttons a {
        width: 100%;
        height: 100%; }
        #checkout #empty-message .buttons a button {
          width: 100%;
          height: 100%;
          background-color: #1173a3;
          border: none;
          font-family: 'Roboto', sans-serif;
          color: white;
          border-radius: 7px;
          font-size: 1.1rem;
          cursor: pointer; }
    #checkout #empty-message h6 {
      font-family: 'Roboto', sans-serif;
      color: #3f3844;
      width: 100%;
      text-align: center;
      font-size: 1.6rem; }
  #checkout h6 {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #1173a3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding: 13px 0; }
  #checkout span {
    display: flex;
    height: 100%; }
    #checkout span svg {
      width: 4rem; }
      #checkout span svg .cls-1 {
        fill: #00a018; }
  #checkout #title-check {
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem; }
  #checkout span {
    width: 100%;
    height: 43px; }
    #checkout span a {
      width: 40px;
      height: 100%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f89922;
      border-radius: 7px;
      margin-top: 1rem; }
      #checkout span a:hover {
        transform: scale(1.08);
        transition: 0.4s; }
      #checkout span a svg {
        width: 100%; }
        #checkout span a svg .st0 {
          fill: white; }
  #checkout .checkout {
    width: 90%;
    height: 83%;
    margin: 0 auto;
    display: flex;
    position: relative; }
    #checkout .checkout .form {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #f89922;
      margin-right: 32px;
      margin-top: 10px;
      height: 27rem;
      margin-bottom: 7rem; }
      #checkout .checkout .form form {
        width: 90%;
        margin: 25px auto 0 auto;
        font-family: 'Roboto', sans-serif;
        color: #3f3844; }
        #checkout .checkout .form form label {
          width: 25%; }
        #checkout .checkout .form form input {
          height: 66%;
          width: 75%;
          outline: none;
          padding-left: 4px;
          border-radius: 4px;
          border: solid 1px #f89922;
          margin: 0; }
        #checkout .checkout .form form .row {
          width: 100%;
          margin-bottom: 13px;
          height: 2rem;
          display: flex;
          justify-content: space-around;
          align-items: center;
          position: relative; }
        #checkout .checkout .form form input[type="submit"] {
          width: 100%;
          height: 44px;
          background-color: #f89922;
          border: none;
          font-family: 'Roboto', sans-serif;
          color: white;
          margin: 16px auto 0 auto;
          font-size: 1.2rem;
          cursor: pointer;
          border-radius: 4px; }
    #checkout .checkout .buttons {
      width: 11rem;
      height: 3rem;
      position: absolute;
      left: 24.3%;
      bottom: 6%;
      display: flex;
      justify-content: space-around; }
      #checkout .checkout .buttons button {
        width: 51px;
        height: 100%;
        border: none;
        border-radius: 7px;
        background-color: #f89922;
        cursor: pointer; }
      #checkout .checkout .buttons .back svg {
        width: 63%; }
        #checkout .checkout .buttons .back svg .st0 {
          fill: white; }
      #checkout .checkout .buttons .home svg .st0 {
        fill: white; }
    #checkout .checkout .resumen {
      width: 30%;
      height: 17.8rem;
      border: 1px solid #f89922; }
      #checkout .checkout .resumen h6 {
        width: 100%;
        height: 17px; }
      #checkout .checkout .resumen .resumen-content {
        width: 100%;
        height: 13rem; }
        #checkout .checkout .resumen .resumen-content ul {
          width: 93%;
          height: 100%;
          padding: 10px; }
          #checkout .checkout .resumen .resumen-content ul li {
            list-style: none;
            width: 100%;
            display: flex;
            justify-content: space-around;
            font-family: 'Roboto', sans-serif;
            color: #3f3844; }
            #checkout .checkout .resumen .resumen-content ul li .cant {
              width: 3%;
              font-weight: bold; }
            #checkout .checkout .resumen .resumen-content ul li span {
              width: 56%;
              padding-bottom: 6px; }
            #checkout .checkout .resumen .resumen-content ul li .price {
              width: 26%; }
    #checkout .checkout .total {
      width: 100%;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      color: #3f3844;
      font-size: 1.1rem;
      border-top: 1px solid #f89922;
      font-weight: bold; }

#itemcount {
  width: 57px;
  height: 28px;
  position: absolute;
  right: 6px;
  bottom: 11%; }
  #itemcount .ItemCount {
    display: flex;
    width: 100%;
    height: 100%; }
    #itemcount .ItemCount button {
      width: 65%;
      border: none;
      font-family: 'Roboto', sans-serif;
      color: white;
      background-color: #f89922;
      cursor: pointer; }
    #itemcount .ItemCount h6 {
      width: 100%;
      height: 93%;
      color: #3f3844;
      border: 1px solid #f89922;
      margin: 0; }
    #itemcount .ItemCount .btnless {
      border-radius: 6px 0 0 6px;
      border-right: 1px solid white; }
    #itemcount .ItemCount .btnplus {
      border-radius: 0 6px 6px 0; }

#error-label {
  position: absolute;
  bottom: -12px;
  left: 18px;
  font-size: 0.7rem;
  color: red; }
