// Estilos del módulo de gestion del menu
menu {
    width: 54rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    a {
        width: 10rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        h2 {
            color: white;
            margin: 0 !important;
        }
        &:hover {
            background-color: #ffffff21;
        }
    }
}
